body{
    /*background-image: url("../images/background.jpg");*/
    background-image: url("../images/biblioteka.jpg");
}

.bg-body-container{
    /*background-color: rgb(247, 249, 251);*/
    /*!*background-image: url('../images/background.jpg');*!*/
    /*background-image: url('../images/biblioteka.jpg');*/

}

.bg-header-container{
    /*background-color: #708C81;*/
    /*background-color: #735547;*/
    color: white;
    text-align: center;
}

.bg-main-container{
    background-color: white;
    opacity: .90;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
    /*background-color: white;*/
    /*color: #708C81;*/
    /*color: #735547;*/

}





