<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h1>Lista książek</h1>
        <ul>
            <li>
                <a href="/">Menu</a>
            </li>
            <li>
                <a href="addNewUser">Dodaj nowego uzytkownika</a>
            </li>
            <li>
                <a href="">Wyswietl ksiazki danego autora</a>
            </li>
            <li>
                <a href="myAccount">Wyswietl moje dane</a>
            </li>
            <li>
                <a href="users">Wyswietl dane wybranego uzytkownika</a>
            </li>
        </ul>
    </body>
</html>