<ul class="navbar-nav">
  <li class="nav-item grow">
    <a  class="nav-link text-reset" href="mainMenu">Menu</a>
  </li>
  <li class="nav-item grow">
    <a  class="nav-link text-reset" href="books">Wyswietl ksiazki</a>
  </li>
  <li class="nav-item grow">
    <a  class="nav-link text-reset" href="addNewUser">Dodaj nowego uzytkownika</a>
  </li>
  <li class="nav-item grow">
    <a class="nav-link text-reset"  href="addBook">Dodaj książkę</a>
  </li>
  <li class="nav-item grow">
    <a class="nav-link text-reset"  href="myAccount">Wyswietl moje dane</a>
  </li>
  <li class="nav-item grow">
    <a class="nav-link text-reset"  href="users">Użytkownicy</a>
  </li>
  <li class="nav-item grow">
    <a class="nav-link text-reset"  href="login">Logowanie</a>
  </li>
</ul>